body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u2399 {
  position:absolute;
  left:363px;
  top:108px;
  width:473px;
  height:954px;
}
#u2400 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u2401 {
  position:absolute;
  left:388px;
  top:211px;
  width:422px;
  height:744px;
}
#u2402 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2403 {
  position:absolute;
  left:527px;
  top:436px;
  width:169px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2405 {
  position:absolute;
  left:551px;
  top:620px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2406 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
