body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1912 {
  position:absolute;
  left:353px;
  top:98px;
  width:473px;
  height:954px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u1914 {
  position:absolute;
  left:378px;
  top:201px;
  width:422px;
  height:744px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916 {
  position:absolute;
  left:378px;
  top:201px;
  width:422px;
  height:744px;
  overflow:hidden;
  touch-action:none;
}
#u1916_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1916_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:3012px;
  overflow:hidden;
}
#u1917_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:3012px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1917_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1918 {
  position:absolute;
  left:24px;
  top:51px;
  width:371px;
  height:363px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:174px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1920 {
  position:absolute;
  left:42px;
  top:61px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1921 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1922 {
  position:absolute;
  left:42px;
  top:95px;
  width:29px;
  height:16px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1924 {
  position:absolute;
  left:42px;
  top:125px;
  width:29px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:42px;
  top:156px;
  width:29px;
  height:16px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1928 {
  position:absolute;
  left:42px;
  top:184px;
  width:57px;
  height:16px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1930 {
  position:absolute;
  left:25px;
  top:82px;
  width:370px;
  height:1px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:42px;
  top:214px;
  width:29px;
  height:16px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1934 {
  position:absolute;
  left:42px;
  top:246px;
  width:85px;
  height:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:41px;
  top:280px;
  width:29px;
  height:16px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1938 {
  position:absolute;
  left:42px;
  top:308px;
  width:29px;
  height:16px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:42px;
  top:335px;
  width:57px;
  height:16px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:42px;
  top:367px;
  width:34px;
  height:16px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1944 {
  position:absolute;
  left:135px;
  top:90px;
  width:176px;
  height:22px;
}
#u1944_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1945 {
  position:absolute;
  left:136px;
  top:152px;
  width:176px;
  height:22px;
}
#u1945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1946 {
  position:absolute;
  left:136px;
  top:180px;
  width:176px;
  height:22px;
}
#u1946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1947 {
  position:absolute;
  left:136px;
  top:277px;
  width:176px;
  height:22px;
}
#u1947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1948 {
  position:absolute;
  left:136px;
  top:305px;
  width:176px;
  height:22px;
}
#u1948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1949 {
  position:absolute;
  left:136px;
  top:332px;
  width:176px;
  height:22px;
}
#u1949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1950 {
  position:absolute;
  left:136px;
  top:364px;
  width:176px;
  height:22px;
}
#u1950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1951 {
  position:absolute;
  left:136px;
  top:122px;
  width:176px;
  height:22px;
}
#u1951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1951_input:disabled {
  color:grayText;
}
#u1952 {
  position:absolute;
  left:137px;
  top:211px;
  width:175px;
  height:22px;
}
#u1952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1952_input:disabled {
  color:grayText;
}
#u1953 {
  position:absolute;
  left:137px;
  top:243px;
  width:176px;
  height:22px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1953_input:disabled {
  color:grayText;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:43px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:2px;
  width:422px;
  height:43px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1956 {
  position:absolute;
  left:184px;
  top:10px;
  width:55px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1958 {
  position:absolute;
  left:24px;
  top:444px;
  width:371px;
  height:745px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:364px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1960 {
  position:absolute;
  left:42px;
  top:454px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1962 {
  position:absolute;
  left:25px;
  top:475px;
  width:370px;
  height:1px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1964 {
  position:absolute;
  left:42px;
  top:493px;
  width:303px;
  height:16px;
  color:#999999;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966 {
  position:absolute;
  left:42px;
  top:526px;
  width:324px;
  height:32px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1968 {
  position:absolute;
  left:42px;
  top:568px;
  width:100px;
  height:16px;
}
#u1969 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1968_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1970 {
  position:absolute;
  left:174px;
  top:568px;
  width:100px;
  height:16px;
}
#u1971 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1970_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:42px;
  top:595px;
  width:324px;
  height:16px;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1974 {
  position:absolute;
  left:42px;
  top:617px;
  width:100px;
  height:16px;
}
#u1975 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1974_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1976 {
  position:absolute;
  left:174px;
  top:617px;
  width:100px;
  height:16px;
}
#u1977 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1976_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1978 {
  position:absolute;
  left:42px;
  top:643px;
  width:324px;
  height:16px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1980 {
  position:absolute;
  left:42px;
  top:668px;
  width:100px;
  height:16px;
}
#u1981 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1982 {
  position:absolute;
  left:174px;
  top:668px;
  width:100px;
  height:16px;
}
#u1983 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1982_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1984 {
  position:absolute;
  left:42px;
  top:694px;
  width:324px;
  height:16px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1986 {
  position:absolute;
  left:42px;
  top:719px;
  width:100px;
  height:16px;
}
#u1987 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1988 {
  position:absolute;
  left:174px;
  top:719px;
  width:100px;
  height:16px;
}
#u1989 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:42px;
  top:745px;
  width:324px;
  height:16px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1992 {
  position:absolute;
  left:42px;
  top:769px;
  width:100px;
  height:16px;
}
#u1993 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1992_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1994 {
  position:absolute;
  left:174px;
  top:769px;
  width:100px;
  height:16px;
}
#u1995 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1994_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:42px;
  top:795px;
  width:324px;
  height:16px;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1998 {
  position:absolute;
  left:42px;
  top:819px;
  width:100px;
  height:16px;
}
#u1999 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1998_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2000 {
  position:absolute;
  left:174px;
  top:819px;
  width:100px;
  height:16px;
}
#u2001 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2000_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  position:absolute;
  left:42px;
  top:845px;
  width:324px;
  height:16px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2004 {
  position:absolute;
  left:42px;
  top:869px;
  width:100px;
  height:16px;
}
#u2005 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2006 {
  position:absolute;
  left:174px;
  top:869px;
  width:100px;
  height:16px;
}
#u2007 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2006_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  position:absolute;
  left:42px;
  top:895px;
  width:324px;
  height:16px;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2010 {
  position:absolute;
  left:42px;
  top:919px;
  width:100px;
  height:16px;
}
#u2011 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2012 {
  position:absolute;
  left:174px;
  top:919px;
  width:100px;
  height:16px;
}
#u2013 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:42px;
  top:945px;
  width:324px;
  height:16px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2016 {
  position:absolute;
  left:42px;
  top:969px;
  width:100px;
  height:16px;
}
#u2017 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2016_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2018 {
  position:absolute;
  left:174px;
  top:969px;
  width:100px;
  height:16px;
}
#u2019 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2018_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  position:absolute;
  left:42px;
  top:995px;
  width:324px;
  height:16px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2022 {
  position:absolute;
  left:42px;
  top:1019px;
  width:100px;
  height:16px;
}
#u2023 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2022_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2024 {
  position:absolute;
  left:174px;
  top:1019px;
  width:100px;
  height:16px;
}
#u2025 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2024_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  position:absolute;
  left:42px;
  top:1045px;
  width:324px;
  height:16px;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2028 {
  position:absolute;
  left:42px;
  top:1069px;
  width:100px;
  height:16px;
}
#u2029 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2028_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2030 {
  position:absolute;
  left:174px;
  top:1069px;
  width:100px;
  height:16px;
}
#u2031 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2030_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:42px;
  top:1095px;
  width:324px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2034 {
  position:absolute;
  left:42px;
  top:1119px;
  width:100px;
  height:16px;
}
#u2035 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2034_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2036 {
  position:absolute;
  left:174px;
  top:1119px;
  width:100px;
  height:16px;
}
#u2037 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:42px;
  top:1154px;
  width:324px;
  height:16px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:116px;
  top:1151px;
  width:176px;
  height:22px;
}
#u2040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2041 {
  position:absolute;
  left:116px;
  top:1784px;
  width:140px;
  height:40px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:1032px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u2043 {
  position:absolute;
  left:24px;
  top:1222px;
  width:371px;
  height:1032px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:508px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2045 {
  position:absolute;
  left:42px;
  top:1232px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2047 {
  position:absolute;
  left:25px;
  top:1253px;
  width:370px;
  height:1px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:42px;
  top:1274px;
  width:113px;
  height:16px;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u2051 {
  position:absolute;
  left:155px;
  top:1272px;
  width:176px;
  height:22px;
}
#u2051_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2051_input:disabled {
  color:grayText;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2052 {
  position:absolute;
  left:42px;
  top:1306px;
  width:113px;
  height:16px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u2054 {
  position:absolute;
  left:155px;
  top:1304px;
  width:176px;
  height:22px;
}
#u2054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2054_input:disabled {
  color:grayText;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:42px;
  top:1336px;
  width:103px;
  height:18px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2057 {
  position:absolute;
  left:155px;
  top:1339px;
  width:176px;
  height:22px;
}
#u2057_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2057_input:disabled {
  color:grayText;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:352px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2058 {
  position:absolute;
  left:42px;
  top:1389px;
  width:300px;
  height:352px;
  color:#999999;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2060 {
  position:absolute;
  left:25px;
  top:1751px;
  width:370px;
  height:1px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:48px;
  top:1773px;
  width:264px;
  height:16px;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u2064 {
  position:absolute;
  left:65px;
  top:1799px;
  width:51px;
  height:16px;
}
#u2065 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2064_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2066 {
  position:absolute;
  left:126px;
  top:1800px;
  width:51px;
  height:16px;
}
#u2067 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2066_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:177px;
  top:1799px;
  width:79px;
  height:16px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2070 {
  position:absolute;
  left:214px;
  top:1797px;
  width:152px;
  height:22px;
}
#u2070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:48px;
  top:1835px;
  width:264px;
  height:16px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:65px;
  top:1861px;
  width:51px;
  height:16px;
}
#u2074 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2073_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2075 {
  position:absolute;
  left:126px;
  top:1862px;
  width:51px;
  height:16px;
}
#u2076 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u2075_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:177px;
  top:1861px;
  width:79px;
  height:16px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2079 {
  position:absolute;
  left:214px;
  top:1859px;
  width:152px;
  height:22px;
}
#u2079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:266px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2080 {
  position:absolute;
  left:54px;
  top:1891px;
  width:300px;
  height:266px;
  color:#999999;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2082 {
  position:absolute;
  left:25px;
  top:2167px;
  width:370px;
  height:1px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:54px;
  top:2186px;
  width:114px;
  height:16px;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u2086 {
  position:absolute;
  left:178px;
  top:2183px;
  width:176px;
  height:22px;
}
#u2086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2086_input:disabled {
  color:grayText;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  position:absolute;
  left:54px;
  top:2212px;
  width:114px;
  height:16px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u2089 {
  position:absolute;
  left:110px;
  top:2212px;
  width:152px;
  height:22px;
}
#u2089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u2091 {
  position:absolute;
  left:25px;
  top:2630px;
  width:371px;
  height:260px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:122px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2093 {
  position:absolute;
  left:43px;
  top:2640px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2095 {
  position:absolute;
  left:26px;
  top:2661px;
  width:370px;
  height:1px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097 {
  position:absolute;
  left:61px;
  top:2687px;
  width:300px;
  height:170px;
}
#u2097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2098 {
  position:absolute;
  left:141px;
  top:2933px;
  width:140px;
  height:40px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u2101 {
  position:absolute;
  left:25px;
  top:2272px;
  width:371px;
  height:331px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:158px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2104 {
  position:absolute;
  left:46px;
  top:2280px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:46px;
  top:2483px;
  width:57px;
  height:16px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u2108 {
  position:absolute;
  left:27px;
  top:2301px;
  width:370px;
  height:1px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2110 {
  position:absolute;
  left:45px;
  top:2422px;
  width:57px;
  height:16px;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:46px;
  top:2319px;
  width:43px;
  height:16px;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2114 {
  position:absolute;
  left:46px;
  top:2390px;
  width:29px;
  height:16px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2116 {
  position:absolute;
  left:140px;
  top:2316px;
  width:176px;
  height:22px;
}
#u2116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2117 {
  position:absolute;
  left:140px;
  top:2387px;
  width:176px;
  height:22px;
}
#u2117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:139px;
  top:2419px;
  width:176px;
  height:22px;
}
#u2118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2118_input:disabled {
  color:grayText;
}
#u2119 {
  position:absolute;
  left:140px;
  top:2482px;
  width:100px;
  height:16px;
}
#u2120 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2121 {
  position:absolute;
  left:139px;
  top:2508px;
  width:159px;
  height:16px;
}
#u2122 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u2121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2123 {
  position:absolute;
  left:139px;
  top:2534px;
  width:186px;
  height:16px;
}
#u2124 {
  position:absolute;
  left:16px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2125 {
  position:absolute;
  left:139px;
  top:2560px;
  width:186px;
  height:16px;
}
#u2126 {
  position:absolute;
  left:16px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u2125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:45px;
  top:2353px;
  width:29px;
  height:16px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2129 {
  position:absolute;
  left:139px;
  top:2351px;
  width:176px;
  height:22px;
}
#u2129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2129_input:disabled {
  color:grayText;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:46px;
  top:2453px;
  width:57px;
  height:16px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2132 {
  position:absolute;
  left:140px;
  top:2450px;
  width:176px;
  height:22px;
}
#u2132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
