body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1514 {
  position:absolute;
  left:353px;
  top:98px;
  width:473px;
  height:954px;
}
#u1515 {
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:744px;
}
#u1516 {
  position:absolute;
  left:378px;
  top:201px;
  width:422px;
  height:744px;
}
#u1517 {
  position:absolute;
  left:2px;
  top:364px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518 {
  position:absolute;
  left:380px;
  top:201px;
  width:420px;
  height:744px;
  overflow:hidden;
  touch-action:none;
}
#u1518_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:744px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1518_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:469px;
  overflow:hidden;
}
#u1519_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:469px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1519_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:15px;
  -moz-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1521 {
  position:absolute;
  left:23px;
  top:63px;
  width:371px;
  height:331px;
}
#u1522 {
  position:absolute;
  left:2px;
  top:158px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1524 {
  position:absolute;
  left:44px;
  top:71px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1526 {
  position:absolute;
  left:44px;
  top:274px;
  width:57px;
  height:16px;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:2px;
}
#u1528 {
  position:absolute;
  left:25px;
  top:92px;
  width:370px;
  height:1px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:-8px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1530 {
  position:absolute;
  left:43px;
  top:213px;
  width:57px;
  height:16px;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1532 {
  position:absolute;
  left:44px;
  top:110px;
  width:43px;
  height:16px;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1534 {
  position:absolute;
  left:44px;
  top:181px;
  width:29px;
  height:16px;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1536 {
  position:absolute;
  left:138px;
  top:107px;
  width:176px;
  height:22px;
}
#u1536_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1537 {
  position:absolute;
  left:138px;
  top:178px;
  width:176px;
  height:22px;
}
#u1537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1538 {
  position:absolute;
  left:137px;
  top:210px;
  width:176px;
  height:22px;
}
#u1538_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1538_input:disabled {
  color:grayText;
}
#u1539 {
  position:absolute;
  left:138px;
  top:273px;
  width:100px;
  height:16px;
}
#u1540 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1539_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1541 {
  position:absolute;
  left:137px;
  top:299px;
  width:159px;
  height:16px;
}
#u1542 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u1541_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1543 {
  position:absolute;
  left:137px;
  top:325px;
  width:186px;
  height:16px;
}
#u1544 {
  position:absolute;
  left:16px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u1543_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1545 {
  position:absolute;
  left:137px;
  top:351px;
  width:186px;
  height:16px;
}
#u1546 {
  position:absolute;
  left:16px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u1545_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1547 {
  position:absolute;
  left:137px;
  top:404px;
  width:140px;
  height:40px;
}
#u1548 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1549 {
  position:absolute;
  left:43px;
  top:144px;
  width:29px;
  height:16px;
}
#u1550 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1551 {
  position:absolute;
  left:137px;
  top:142px;
  width:176px;
  height:22px;
}
#u1551_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1551_input:disabled {
  color:grayText;
}
#u1552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1552 {
  position:absolute;
  left:44px;
  top:244px;
  width:57px;
  height:16px;
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1554 {
  position:absolute;
  left:138px;
  top:241px;
  width:176px;
  height:22px;
}
#u1554_input {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:43px;
}
#u1555 {
  position:absolute;
  left:0px;
  top:2px;
  width:422px;
  height:43px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:14px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1557 {
  position:absolute;
  left:166px;
  top:13px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1558 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
